# Lists

In [6]:
list=["Hi",1,2,3,4,[10.2,"End"]]
print(list)

['Hi', 1, 2, 3, 4, [10.2, 'End']]

In [7]:
list.append("Add_newthings_@last")
print(list)

['Hi', 1, 2, 3, 4, [10.2, 'End'], 'Add_newthings_@last']

In [14]:
list.clear()
print(list)

[]

In [15]:
list=["Hi",1,2,3,4,[10.2,"End"]]
list2=list.copy()
print(list2)

['Hi', 1, 2, 3, 4, [10.2, 'End']]

In [17]:
list=["Hi",1,2,3,4,[10.2,"End"],45,45,45,45,65,56,53534,53,6436436,43]
print(list.count(45))

4

In [18]:
list3=["Using_extend"]
list.extend(list3)
print(list)

['Hi', 1, 2, 3, 4, [10.2, 'End'], 45, 45, 45, 45, 65, 56, 53534, 53, 6436436, 43, 'Using_extend']

In [19]:
list.index(2)

2

In [21]:
list.index(45)

6

In [25]:
list.insert(4,"using_insert")
print(list)

['Hi', 1, 2, 3, 'using_insert', 'using_insert', 'using_insert', 4, [10.2, 'End'], 45, 45, 45, 45, 65, 56, 53534, 53, 6436436, 43, 'Using_extend']

In [26]:
list.pop()
print(list)

['Hi', 1, 2, 3, 'using_insert', 'using_insert', 'using_insert', 4, [10.2, 'End'], 45, 45, 45, 45, 65, 56, 53534, 53, 6436436, 43]

In [27]:
list.remove(3)
print(list)

['Hi', 1, 2, 'using_insert', 'using_insert', 'using_insert', 4, [10.2, 'End'], 45, 45, 45, 45, 65, 56, 53534, 53, 6436436, 43]

In [29]:
list.reverse()
print(list)

['Hi', 1, 2, 'using_insert', 'using_insert', 'using_insert', 4, [10.2, 'End'], 45, 45, 45, 45, 65, 56, 53534, 53, 6436436, 43]

In [30]:
list1=[1,2,3,4,5,6,7,8]
list1.reverse()
print(list1)

[8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
list1=[2,3,5,1,1,4,67,5,3,1,5,78,8,67]
list1.sort()
print(list1)

[1, 1, 1, 2, 3, 3, 4, 5, 5, 5, 8, 67, 67, 78]

# Dictionary

In [36]:
dict={1:"One",2:"Two",3:"Three",4:"Four"}
print(dict)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [37]:
dict.clear()
print(dict)

{}

In [38]:
dict={1:"One",2:"Two",3:"Three",4:"Four"}
d2=dict.copy()
print(d2)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [39]:
d3=dict.fromkeys(list1,list2)
print(d3)

{1: ['Hi', 1, 2, 3, 4, [10.2, 'End']], 2: ['Hi', 1, 2, 3, 4, [10.2, 'End']], 3: ['Hi', 1, 2, 3, 4, [10.2, 'End']], 4: ['Hi', 1, 2, 3, 4, [10.2, 'End']], 5: ['Hi', 1, 2, 3, 4, [10.2, 'End']], 8: ['Hi', 1, 2, 3, 4, [10.2, 'End']], 67: ['Hi', 1, 2, 3, 4, [10.2, 'End']], 78: ['Hi', 1, 2, 3, 4, [10.2, 'End']]}

In [40]:
print(dict.get(3))

Three

In [41]:
print(dict.items())

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three'), (4, 'Four')])

In [42]:
print(dict.keys())

dict_keys([1, 2, 3, 4])

In [52]:
print(dict.pop(1))
print(dict)

One
{}

In [60]:
dict={1:"One",2:"Two",3:"Three",4:"Four"}
d5=dict.popitem()
print(d5)
print(dict)

(4, 'Four')
{1: 'One', 2: 'Two', 3: 'Three'}

In [61]:
n=dict.setdefault(2)
print(n)

Two

In [64]:
dict={1:"One",2:"Two",3:"Three",4:"Four"}
d1={6:"abc",7:"def",8:"ghi",9:"jkl"}
dict.update(d1)
print(dict)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 6: 'abc', 7: 'def', 8: 'ghi', 9: 'jkl'}

In [67]:
dict.values()

dict_values(['One', 'Two', 'Three', 'Four', 'abc', 'def', 'ghi', 'jkl'])

# Sets

In [68]:
set={1,2,3,5,6,8,9,6,3,3,"hi"}
print(set)

{1, 2, 3, 5, 6, 'hi', 8, 9}

In [69]:
set.add("Add")
print(set)

{1, 2, 3, 5, 6, 'hi', 8, 9, 'Add'}

In [70]:
set.clear()
print(set)

set()

In [71]:
print(set)

set()

In [72]:
set={1,2,3,5,6,8,9,6,3,3,"hi"}
A=set.copy()
print(A)

{1, 2, 3, 5, 6, 'hi', 8, 9}

In [76]:
a={1,2,3,4,5,6,7,8,9}
b={2,4,6,8}
print(a.difference(b))

{1, 3, 5, 7, 9}

In [78]:
a.difference_update(b)
print(a)

{1, 3, 5, 7, 9}

In [79]:
a.discard(5)
print(a)

{1, 3, 7, 9}

In [82]:
a={1,2,3,4,5,6,7,8,9}
b={2,4,6,8,11,15}
c=a.intersection(b)
print(c)

{8, 2, 4, 6}

In [85]:
a={1,2,3,4,5,6,7,8,9}
b={2,4,6,8,11,15}
a.intersection_update(b)
print(a)

{8, 2, 4, 6}

In [86]:
a.isdisjoint(b)

False

In [87]:
a.issubset(b)

True

In [88]:
b.issuperset(a)

True

In [89]:
a.issuperset(b)

False

In [90]:
a.pop()

8

In [91]:
a.symmetric_difference(b)

{8, 11, 15}

In [92]:
a.union(b)

{2, 4, 6, 8, 11, 15}

In [95]:
a={1,2,3,4,5,6,7,8,9}
b={21,42,63,85,11,15}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 42, 11, 15, 85, 21, 63}